# dependências
node_modules

# Serverless Framework
.serverless

# DynamoDB Local (baixado por `serverless dynamodb install`)
.dynamodb

# variáveis de ambiente locais
.env

# lockfile gerado pelo npm install (não versionado neste projeto de exemplo)
package-lock.json

